<div class="sites-container">


  <div class="sites-grid">
    <mat-card *ngFor="let site of sites" class="site-card">
      <mat-card-header>
        <mat-card-title>{{ site.name }}</mat-card-title>
        <mat-card-subtitle>{{ site.address }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="supplies-info">
          <mat-icon>inventory_2</mat-icon>
          <span>{{ site.workType }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
