@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #1976d2;
  --error-color: #f44336;
  --success-color: #4caf50;
}

.mat-mdc-form-field {
  &.mat-focused {
    .mat-mdc-form-field-label {
      color: var(--primary-color);
    }
  }
}

.mat-mdc-select-value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mat-mdc-select-trigger {
  mat-icon {
    margin-right: 0.5rem;
  }
}
